<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zhenghaikj.shop">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取网络状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 往 SDCard 写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <!-- 录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>

    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <uses-permission android:name="android.permission.GET_TASKS"/>
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/shop"
        android:label="@string/app_name"
        android:roundIcon="@drawable/shop"
        android:supportsRtl="true"
        tools:replace="android:theme"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">


        <uses-library android:name="org.apache.http.legacy" android:required="false" />

        <meta-data android:value="165010" android:name="V5_SITE" />
        <meta-data android:value="西瓜币商城" android:name="V5_ACCOUNT" />
        <provider

            android:name="androidx.core.content.FileProvider"

            android:authorities="com.zhenghaikj.shop.fileProvider"

            android:grantUriPermissions="true"

            android:exported="false"
            tools:replace="android:authorities">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/ThemeSplash"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>




        <activity android:name=".activity.CallChageActivity"
            android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.MainActivity"
            android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.SearchActivity"  android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".activity.SearchDetailActivity"  android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize" />

        <activity android:name=".activity.GoodsDetailActivity"  android:theme="@style/AppSplash"
            android:configChanges="orientation|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="http"
                    android:host="mall.xigyu.com"
                    android:pathPrefix="/Share"
                    />
            </intent-filter>

        </activity>
        <activity android:name=".activity.PersonalInformationActivity"  android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".activity.SettingActivity"  android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".activity.FavoritesActivity"  android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".activity.AfterSaleActivity"  android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".activity.StoreActivity"  android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".activity.AfterSalesTypeActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.ReturnActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.ServiceActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.AddWorkOrderActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.ScanActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.OrderActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.ShippingAddressActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.AddAddressActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.ShopHomeActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.PanicBuyingActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.FoundGoodGoodsActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.GoodDailyShopActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.WalletActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.BrandCardActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.RecordingActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.RechargeActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.WithdrawActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.SelectBankCardActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.AddBrankCardActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.ChagePasswordActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.AboutUsActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.GiftActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.GiftRecordActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.GiftAccountActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.GiftDetailActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.GiftsDetailActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.GiftOrderDetailActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.LoginActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.RegisterActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.BindPhoneActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.FootprintActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.SimilarActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.CouponActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.WorkOrderActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.AddOrderActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.BrandActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.ChageUserNameActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.CheckinActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.ChagePayActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.OpinionActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.WebActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.LogisticsInformationActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.MessageActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
         <activity android:name=".activity.MessageActivity2" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.BecomeBusinessFirstActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.MessageDetailActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>

        <activity android:name=".activity.WorkOrderDetailActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.OrderDetailActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.ConfirmOrderActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.EvaluationDetailsActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".activity.CartActivity" android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>
        <activity android:name="com.yalantis.ucrop.UCropActivity"
            android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"/>

        <activity android:name=".activity.SearchPreDetailActivity"
            android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"
            />
        <activity android:name=".activity.SearchStoreActivity"
            android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"
            />


        <!-- alipay sdk begin -->

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <!-- alipay sdk end -->


        <!-- wx sdk begin -->

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="true"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="true"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

        <activity android:name=".activity.PhotosViewActivity"
            android:theme="@style/AppSplash"
            android:launchMode="singleTask">
        </activity>

        <activity android:name=".activity.PhotoViewActivity2"
            android:theme="@style/AppSplash"
            android:launchMode="singleTask">
        </activity>

        <activity android:name=".activity.AllCommentsActivity"
            android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            />

        <activity android:name=".activity.EvaluateActivity"
            android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            />

        <activity android:name=".activity.PaymentSuccessActivity"
            android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            />


        <activity android:name=".activity.DeliverySuccessActivity"
            android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            />


        <activity android:name=".activity.OrderInstallActivity"
            android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            />

        <activity android:name=".activity.ReturnGoodsActivity"
            android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            />

        <activity android:name=".activity.AfterSaleDetailActivity"
            android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            />

        <activity android:name=".activity.LotteryActivity"
            android:theme="@style/AppTheme.Lotter"
            android:launchMode="singleTask"
            />

        <activity android:name=".activity.StoreDetailActivity"
            android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            />

        <activity android:name=".activity.SettingPayPasswordActivity"
            android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            />

        <activity android:name=".activity.NewSearchDetailActivty"
            android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            />
        <activity android:name=".activity.IntegralUseActivity"
            android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            />
        <activity android:name=".activity.IntegralOrderActivity"
            android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            />

        <activity android:name=".activity.ConfirmGiftOrderActivity"
            android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            />

        <activity android:name=".activity.SearchDetailShopDetailActivity"
            android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            />

        <activity android:name=".activity.SearchShopPreDetailActivity"
            android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            />

        <activity android:name=".activity.SellerSendGoodActivity"
            android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            />
        <activity android:name=".activity.BillingActivity"
            android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            />

        <activity android:name=".activity.GetSerachListActivity"
            android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            />

        <receiver
            android:name=".wxapi.AppRegister">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>

        <!-- wx sdk end -->


        <!--推送接收-->
        <receiver android:name=".receiver.XGPushReceiver"
            android:exported="true" >
            <intent-filter>
                <!-- 接收消息透传 -->
                <action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />
                <!-- 监听注册、反注册、setting/删除标签、通知被点击等处理结果 -->
                <action android:name="com.tencent.android.tpush.action.FEEDBACK" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.HWReceiver" >
            <intent-filter>

                <!-- 必须,用于接收TOKEN -->
                <action android:name="com.huawei.android.push.intent.REGISTRATION" />
                <!-- 必须，用于接收消息 -->
                <action android:name="com.huawei.android.push.intent.RECEIVE" />
                <!-- 可选，用于点击通知栏或通知栏上的按钮后触发onEvent回调 -->
                <action android:name="com.huawei.android.push.intent.CLICK" />
                <!-- 可选，查看PUSH通道是否连接，不查看则不需要 -->
                <action android:name="com.huawei.intent.action.PUSH_STATE" />
            </intent-filter>
        </receiver>
        <receiver
            android:exported="true"
            android:name=".receiver.XMReceiver">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>

        <!--新浪start-->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="false"
            android:launchMode="singleTask">
        </activity>
        <activity android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleTask">

        </activity>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:launchMode="singleTask"
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <!--新浪end-->
        <!--微信start-->
        <!--<activity-->
        <!--android:name=".wxapi.WXEntryActivity"-->
        <!--android:configChanges="keyboardHidden|orientation|screenSize"-->
        <!--android:exported="true"-->
        <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" android:launchMode="singleTask"/>-->
        <!--微信end-->
        <!--QQstart-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1109159306" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize" android:launchMode="singleTask"/>
        <!--QQend-->

        <activity
            android:name="com.v5kf.client.ui.ClientChatActivity" 	android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/v5_chat_title"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <service
            android:name="com.v5kf.client.lib.V5ClientService" >
        </service>
        <activity android:name="com.v5kf.client.ui.WebViewActivity" >
        </activity>
        <activity
            android:theme="@style/v5_transparent_activity"
            android:name="com.v5kf.client.ui.ShowImageActivity" >
        </activity>


        <activity android:name=".kt.ui.HistoryActivityKtKt"
            android:theme="@style/AppSplash"
            android:launchMode="singleTask"
            />
        <!--<provider-->
            <!--android:name="com.v5kf.client.lib.V5FileProvider"-->
            <!--android:authorities="com.zhenghaikj.shop.fileprovider"-->
            <!--android:exported="false"-->
            <!--android:grantUriPermissions="true">-->
            <!--<meta-data-->
                <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
                <!--android:resource="@xml/v5_file_paths">-->
            <!--</meta-data>-->
        <!--</provider>-->
        <activity android:name="com.m7.imkfsdk.MainActivity"/>
        <activity android:name="com.m7.imkfsdk.chat.OfflineMessageActicity"/>
        <activity android:name="com.m7.imkfsdk.chat.ChatActivity"/>
        <activity android:name="com.m7.imkfsdk.chat.ScheduleOfflineMessageActivity"/>
        <activity android:name="com.m7.imkfsdk.chat.ImageViewLookActivity"/>
        <activity android:name="com.m7.imkfsdk.MoorWebCenter"/>
        <activity android:name="com.m7.imkfsdk.SettingActivity"/>
        <service android:name="com.moor.imkf.tcpservice.service.IMService"
            android:priority="2147483647"
            />

        <receiver android:name="com.moor.imkf.receiver.NetWorkReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>


        <!--自己定义消息接收的广播-->
        <receiver
            android:name="com.m7.imkfsdk.receiver.NewMsgReceiver"
            android:enabled="true">
            <intent-filter android:priority="2147483647">
                <action android:name="com.m7.imkfsdk.KEFU_NEW_MSG" />
            </intent-filter>
        </receiver>
        <!--<activity-->
            <!--android:name="com.m7.imkfsdk.MainActivity">-->
        <!--</activity>-->
        <!--<activity-->
            <!--android:name="com.m7.imkfsdk.chat.ChatActivity"-->
            <!--android:launchMode="singleTask"-->
            <!--android:screenOrientation="portrait" />-->
        <!--<activity-->
            <!--android:name="com.m7.imkfsdk.chat.OfflineMessageActicity"-->
            <!--android:launchMode="singleTop"-->
            <!--android:screenOrientation="portrait"></activity>-->
        <!--<activity-->
            <!--android:name="com.m7.imkfsdk.chat.ScheduleOfflineMessageActivity"-->
            <!--android:launchMode="singleTop"-->
            <!--android:screenOrientation="portrait"></activity>-->

        <!--<activity-->
            <!--android:name="com.m7.imkfsdk.chat.ImageViewLookActivity"-->
            <!--android:screenOrientation="portrait"></activity>-->
        <!--<activity-->
            <!--android:name="com.m7.imkfsdk.MoorWebCenter"-->
            <!--android:screenOrientation="portrait"></activity>-->
        <!--&lt;!&ndash;测试专用&ndash;&gt;-->
        <!--<activity-->
            <!--android:name="com.m7.imkfsdk.SettingActivity"-->
            <!--android:screenOrientation="portrait"></activity>-->
    </application>

</manifest>